html,
body,
#main {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #004ead, #157EFB);
}

h1 {
    color: #004ead;
    font-weight: lighter;
    font-size: 2.5em;
}

.loginPageDiv {
    display: flex;
    flex-direction: column;
    width: 355px;
    height: 60%;
    min-height: 440px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 50px;
    margin: auto;
}

.regPageDiv {
    display: flex;
    flex-direction: column;
    width: 355px;
    height: 60%;
    min-height: 440px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 50px;
    margin: auto;
}

.loginPageDiv > .input {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    padding: 5px;
    background-color: red;
    font-family: 'Open Sans', sans-serif;
}

.loginPageDiv>.button {
    color: white;
    font-size: 15px;
    background-color: #157EFB;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
}

.regPageDiv > .input {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    padding: 5px;
    background-color: red;
    font-family: 'Open Sans', sans-serif;
}

.regPageDiv>.button {
    color: white;
    font-size: 15px;
    background-color: #157EFB;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
}

.inputDiv {
    display: flex;
    flex-direction: column;
}

.inputDiv .input {
    border-radius: 5px;
    padding: 7px;
    border: 1.5px solid grey;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

mainPageDiv {
    flex-grow: 1;
}

header {
    height: 67px;
    background-color: #004ead;
}

header .button {
    float: right;
    color: white;
    font-size: 15px;
    background-color: #157EFB;
    border: none;
    padding: 10px;
    margin: 14px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

.aside {
    height: 100%;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: none;
}

.contentHolder {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    width: 100%;
    background-color: white;
}

.contentHolder>.button {
    color: white;
    font-size: 15px;
    background-color: #004ead;
    border: none;
    height: 40px;
    min-width: 92px;
    padding: 10px;
    margin: 14px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 1000px) {
    .aside {
        height: 250px;
        width: 100%;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: none;
    }
    .contentHolder {
        flex-direction: column;
    }
}

.subjectDiv {
    background-color: #f7b10f;
    position: relative;
    cursor: pointer;
    min-height: 200px;
    flex: 0 0 200px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.deleteBox {
    z-index: 99;
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #157EFB;
}

.subjectAddButton {
    min-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 10px;
    display: flex;
    flex: 0 0 50px;
    order: 99;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #004ead;
}

.text {
    font-size: 30px;
}

.subjectInput {
    min-height: 200px;
    order: 98;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 200px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid black;
}

[hidden] {
    display: none !important;
}

.tableMain {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border: 4px dashed grey;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    width: fit-content;
}

td {
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    border: 2px solid slateblue;
    text-align: center;
    font-size: 20px;
}

th {
    width: 70px;
    border: 2px;
}

.selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px dashed grey;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    width: auto;
}

.assignDiv {
    margin-left: 5px;
    margin-right: 5px;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    border: 2px solid;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.reduceControl {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: red;
    right: 0px;
    top: 10px;
    border-radius: 10px;
}

.enlargeControl {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: green;
    right: 0px;
    bottom: 10px;
    border-radius: 10px;
}