html,
body,
#main {
    height: 100%;
    width: 100%;
    margin: 0;
}

.loginPageDiv {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
    border: 4px dashed blue;
    border-radius: 20px;
    padding: 50px;
    margin: auto;
}

.regPageDiv {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
    border: 4px dashed blue;
    border-radius: 20px;
    padding: 50px;
    margin: auto;
}

.loginPageDiv>.input {
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

.loginPageDiv>.button {
    color: white;
    font-size: 20px;
    background-color: blue;
    height: 50px;
    border-radius: 10px;
    width: 200px;
}

header {
    height: 50px;
    background-color: blue;
}

header .button {
    float: right;
}

aside {
    height: 100%;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid grey;
    overflow-y: scroll;
}

.subjectDiv {
    position: relative;
    cursor: pointer;
    min-height: 200px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.deleteBox {
    z-index: 99;
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    background-color: red;
}

.subjectAddButton {
    min-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 10px;
    display: flex;
    order: 99;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: blue;
}

.text {
    font-size: 30px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.subjectInput {
    min-height: 200px;
    order: 98;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid black;
}

[hidden] {
    display: none !important;
}

.contentHolder {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}

.contentHolder>.button {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: blue;
    color: white;
}

.tableMain {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border: 4px dashed grey;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    width: fit-content;
}

td {
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    border: 2px solid slateblue;
    text-align: center;
    font-size: 20px;
}

.selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px dashed grey;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    width: auto;
}

.assignDiv {
    margin-left: 5px;
    margin-right: 5px;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    border: 2px solid;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.inBoxLeft {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: red;
    right: 0px;
    top: 10px;
    border-radius: 10px;
}

.outBoxLeft {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: green;
    right: 0px;
    bottom: 10px;
    border-radius: 10px;
}